apptainer {
    enabled = false
    cacheDir = "$projectDir/apptainer_cache"
}

params {
    input_fastq = "test"

    outdir_prefix = "results"

    chopper_min_length = 500
    chopper_min_quality = 10

    checkm2_db_path = "databases/CheckM2_database/uniref100.KO.1.dmnd"

    max_memory = "16.GB"
    max_cpus = 8
    max_time = "3.h"

}


process {
    cpus = 4
    memory = '10 GB'
}



profiles {
    local {
        process.executor = "local"
        executor {
            name = "local"
            cpus = params.max_cpus
            memory = params.max_memory
        }
    }


    micromamba {
        conda {
            enabled = true
            useMicromamba = true
            cacheDir = "$HOME/.nextflow/conda"
            createTimeout = "20 min"
            channels      = "conda-forge,bioconda,defaults"
        }
    }
}

nxf.offline = false